# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Uploaded files and temp data
uploads/*
!uploads/.gitkeep

# Output files
outputs/*
!outputs/.gitkeep

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db 